@import "../styles/_spacing";
@import "../styles/_colors";

.root {
  @include space(
    (
      px: 8,
      py: 4
    )
  );
  @include bg(bg-control-primary);
}

.title {
  @include space(
    (
      px: 8,
      py: 4,
      mb: 2
    )
  );
  @include bg(bg-label-secondary);
  @include color(text-invert);
}
